@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffff;
  --secondary-color: #181818;
  --text-color: #ffff;
  --accent-color: #a460f9;
  --purple-shade: #aa84f9;
  --footer-color: #8c6eca;
  --footer-icons: #e6e6e6;
  --banner-color: #e2e2e2;
  --banner-text: #bfbfbf;
  --light-black-color: #252525;
  --dark-text-color: #a3a3a3;
  --play-button: #c37df8;
  --play-button2: #6935ff;
  --stars-color: #70599f;
  --quote-color: #9172d1;
  --border-color: #151515;

  --navbar-font: "Oswald", sans-serif;
  --body-font: "Krub", sans-serif;

  --h1-font-size: 132px;
  --h2-font-size: 115px;
  --h3-font-size: 93px;
  --h4-font-size: 83px;
  --h5-font-size: 60px;
  --h6-font-size: 50px;
  --p-font-size: 15px;

  --normal-font-size: 20px;
  --small-font-size: 17px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

li {
  font-family: var(--navbar-font);
  font-size: var(--normal-font-size);
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
p {
  font-size: var(--p-font-size);
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  font-family: var(--navbar-font);
  background-color: var(--purple-shade);
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 1px;
}
body {
  font-family: var(--body-font);
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-transform: uppercase;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.display-inline {
  display: inline-block;
}
.justify-content-around {
  justify-content: space-around;
}

blockquote {
  quotes: "	\201C""	\201E";
}
blockquote {
  text-indent: -1.1rem;
  line-height: 1.5 rem;
}

blockquote::before,
blockquote::after {
  color: var(--quote-color);
  font-size: 2.5rem;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
